body {
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(123, 123, 123);
}

button {
    padding: 45px;
    background-color: rgb(67, 67, 67);
    font-size: 30px;
    border-radius: 100px;
    border: 50px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    color: rgb(109, 255, 240);
    padding: 120px;
}

.player {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color: rgb(255, 44, 44);
}

.ai {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color: rgb(21, 48, 251);

}

.score-board {
    font-size: 50px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(67, 67, 67);
    text-align: center;
    border-style: outset;
    border-radius: 25px;
    color: white;
    height: 300px;
    width: 400px;
    border: 0;
    margin: 0;
}

.selection {
    display: flex;
    justify-content: space-evenly;
}

.score {
    border-bottom-style: outset;
    border-top-style: outset;
    color: rgb(255, 255, 255);
}